header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
  margin-bottom: 2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(108, 81, 138);
  color: white;

  @include desktop() {
    justify-content: flex-start;
  }

  .logo {
    border-bottom: solid rgb(255, 123, 46) 4px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    width: 50%;

    @include desktop() {
      width: 20%;
    }

    ul {
      display: flex;
      justify-content: start;
      gap: 3em;
      list-style: none;

      li {
        margin: 0;
        a {
          font-weight: bold;
          color: white;
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  text-align: center;
}

footer {
  padding: 2em;
  border: blue solid;
}
