* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: whitesmoke;
}

body {
  border: solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(72, 72, 255);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #a2a7ff;
}

button:disabled {
  background-color: #a2a7ff;
}
